<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/Dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <%-include('./Components/Header.ejs') %>
    <div class="dash-page">
        <div class="dash-container">
            <div class="profile-head">
                <img src="/assets/images/svgs/person.svg" alt="">
                <div class="prof-head-details">
                    <h1>My Profile</h1>
                    <h4>Countries Unlocked</h4>
                    <div class="countries-unlocked">
                        <% if(user.India) { %>
                            <div class="country-name">India</div>
                        <% } %>
                        <% if(user.USA) { %>
                            <div class="country-name">USA</div>
                        <% } %>
                        <% if(user.UK) { %>
                            <div class="country-name">United Kingdom</div>
                        <% } %>
                        <% if(user.Gulf) { %>
                            <div class="country-name">Gulf</div>
                        <% } %>
                        <% if(user.Singapore) { %>
                            <div class="country-name">Singapore</div>
                        <% } %>
                        <% if(user.Malaysia) { %>
                            <div class="country-name">Malaysia</div>
                        <% } %>
                        <% if(user.Indonesia) { %>
                            <div class="country-name">Indonesia</div>
                        <% } %>
                        <% if(user.Africa) { %>
                            <div class="country-name">Africa</div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="personal-info">
                <h1>Personal Details</h1>
                <div class="details-container">
                    <div class="info-container">
                        <h4>First Name</h4>
                        <h3><%= user.FirstName %></h3>
                    </div>
                    <div class="info-container">
                        <h4>Last Name</h4>
                        <h3><%= user.LastName %></h3>
                    </div>
                </div>
                <div class="details-container">
                    <div class="info-container">
                        <h4>Email ID</h4>
                        <h3><%= user.Email %></h3>
                    </div>
                    <div class="info-container">
                        <h4>Phone Number</h4>
                        <h3><%= user.Phone %></h3>
                    </div>
                </div>
                <div class="details-container">
                    <div class="birth-container">
                        <h4>Date of Birth</h4>
                        <div class="birth-flex">
                            <div class="birth-info">
                                <img src="/assets/images/svgs/calendar.svg" alt="">
                                <span>24</span>
                                <img src="/assets/images/svgs/chevron-down.svg" alt="">
                            </div>
                            <div class="birth-info">
                                <span>June</span>
                                <img src="/assets/images/svgs/chevron-down.svg" alt="">
                            </div>
                            <div class="birth-info">
                                <span>1999</span>
                                <img src="/assets/images/svgs/chevron-down.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
</body>

</html>